<nav class="flex flex-row flex-wrap justify-center lg:justify-end items-center py-2 px-3 bg-primary-dark border-b-tint border-b-2">
    <a href="/">
        <img class="flex-shrink self-start w-20 align-middle" src="{{ "/static/images/logo.svg" | relative_url }}" alt="Bondrewd Logo">
    </a>
    <a href="/" class="flex-shrink text-left text-4xl font-bold ml-4 bg-gradient-to-r from-[#9d22c6] to-[#8343c4] bg-clip-text text-transparent">
        Bondrewd
    </a>
    {% if page.subheader -%}
    <span class="flex-shrink text-left text-4xl font-semibold ml-2">
        {% if page.subheader_link -%}
        <a href="{{ page.subheader_link | liquify | relative_url }}">
            {{ page.subheader | liquify }}
        </a>
        {% else -%}
        {{ page.subheader | liquify }}
        {% endif -%}
    </span>
    {% endif -%}
    <div class="flex-auto"></div>
    <ul class="flex flex-none flex-row flex-wrap justify-end items-center py-2 px-4 text-lg">
        {% for item in site.data.navigation %}
            <li class="text-center py-2 px-4 flex-auto">
                <a href="{{ item.url | liquify }}" {% if item.url == empty %}onclick="alert('Not yet implemented, sorry');"{% endif %}>
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
