---
layout: default
---

<section class="page-section">
    <!-- A trick to match the width -->
    <div class="max-w-4xl mx-auto">
        <header>
            <h3 class="text-4xl text-left font-bold mt-3 mb-1">
                {{ page.title }}
            </h3>
            <div class="highlight-bar mb-2"></div>
            <div class="text-contrast-less text-sm flex flex-row space-x-1">
                <span>
                    {{ page.date | date: "%B %d, %Y" }}
                </span>
                <span>&middot;</span>
                <span>
                    {{ page.author }}
                </span>
            </div>
        </header>
    </div>
</section>
<section class="page-section">  <!-- TODO: disable prose-clearcode? -->
    <article class="prose md:prose-lg lg:prose-xl prose-clearcode dark:prose-invert marker:text-contrast max-w-4xl mx-auto" id="post-body">
        {{ content }}
    </article>
</section>
